.bi-arrow-right-circle, .bi-arrow-left-circle, .bi-cash{      /*icons*/
    vertical-align: sub;
}

.body{                                              /*background of the body*/
    background-color: #f36d55;
    font-family: "Dubai Light";
}
.content{                                           /*formatting content*/
    font-size: 20px;
}

.countButton {                                      /* plus and minus*/
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 30px;
}

.element-background{                                /*background of some elements*/
    background-color: #ffc1a3;
    border: 1px solid #dfa98f;
    color: black;
}

#headImg{                                           /*PHPizza title + picture*/
    background-image: url("img/Titelbild.jpg");
    color: #f3644b;
    font-family: "Bell MT";
    font-size: 150px;
    font-style: italic;
    height: 250px;
    background-size: cover;
    padding-top: 5px;
    padding-left: 50px;
    border-bottom: 1px solid #343a40;
}

.heading-l{                                         /*large heading*/
    font-size: 50px;
    margin-top: 20px;
}

.heading-m{                                         /*medium heading*/
    font-size: 30px;
    font-weight: bold;
}

.heading-s{                                         /*small heading*/
    font-size: 25px;
    font-weight: bold;
}

.line{                                              /*line before sum*/
    border-top: 1px solid black;
}

#map{                                               /*Google Maps size*/
    width: 100%;
    height: 200px;
}

.margin{                                             /*make more space*/
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 7px;
}
.mg-bt{                                             /*margin bottom*/
    margin-bottom: 200px;
}

.mg-lt{                                             /*margin-right*/
    margin-left: 20px;
}

.mg-rt{                                             /*margin-right*/
    margin-right: 20px;
}

.mg-top{                                            /*margin top*/
    margin-top: 50px;
}

@media print {                                      /*simplify print view*/

    .hidden-print {
        display: none !important;
    }
    .printable-title{
        background: none !important;
        color: black !important;
    }

    @page{
        margin-top: 0;
        margin-left: 100px;
    }

}

.pd-lt{                                             /*padding left */
    padding-left: 50px;
}

.pd-rt{                                             /*padding left */
    padding-right: 50px;
}

.productPic{                                        /*imgs for every pizza type*/
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-bottom: 1px;
}

#requiredInfo{
    font-size: 14px;                                /* *Pflichtangaben */
}

.table{                                             /*formatting table*/
    width: auto;
}

.table-config{                                      /*formatting table*/
    background-color: #ffc1a3;
    border: 1px solid #343a40;
}

.table-no-br{                                       /*don't break line*/
    white-space: pre;
}

.table td, .table th{                               /*make more space*/
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid black;
}

.textArea{                                          /*comment*/
    width: 250px;
    height: 30px;
    background-color: #ffc1a3;
    border: 1px solid #dfa98f;
    color: black;
}

.tx-al{                                             /*text-align center*/
    text-align: center;
}

.tx-al-rt{                                          /*text-align right*/
    text-align: right;
}

.tx-al-top{                                         /*align text to top*/
    vertical-align: top;
}

.tx-sum{                                            /*double underline for sum*/
    text-decoration: double underline;
}

ul{                                                 /*messages[]*/
    list-style-type: none;
    padding: 0;
}

